<link rel="stylesheet" href="../components/Banner.css">
<section class="splide banner p-0" aria-label="Carrousel Zone" >
    <div class="splide__track">
          <ul class="splide__list">

              <li class="splide__slide">
                <div class="slide__overlay d-flex flex-column justify-content-center align-items-center p-5">
                    <h1 class="display-1 px-5 text-center fw-bold text-light">Un tributo a la mexicanidad</h1>
                    <span class="fs-1 text-light">¡Conócelo!</span>
                    <span class="fs-5 text-light name-place p-5">Monumento a la Mexicanidad</span>
                </div>
                <img src="../assets/Monumento a la mexicanidad 1.webp" alt="">
              </li>

              <li class="splide__slide">
                <div class="slide__overlay d-flex flex-column justify-content-center align-items-center p-5">
                    <h1 class="display-1 px-5 text-center fw-bold text-light">Siente la magia de Samalayuca</h1>
                    <span class="fs-1 text-light">Explora sus increibles dunas</span>
                    <span class="fs-5 text-light name-place p-5">Dunas de Samalayuca</span>
                </div>
                <img src="../assets/Dunas de Samalayuca 1.jpg" alt="">
              </li>

              <li class="splide__slide">
                <div class="slide__overlay d-flex flex-column justify-content-center align-items-center p-5">
                    <h1 class="display-1 px-5 text-center fw-bold text-light">Conoce nuestro legado revolucionario</h1>
                    <span class="fs-1 text-light">Vive nuestra historia</span>
                    <span class="fs-5 text-light name-place p-5">Museo de la Revolución en La Frontera</span>
                </div>
                <img src="../assets/Museo de la revolucion en la frontera 1.jpg" alt="">
              </li>

              <li class="splide__slide">
                <div class="slide__overlay d-flex flex-column justify-content-center align-items-center p-5">
                    <h1 class="display-1 px-5 text-center fw-bold text-light">Donde la diversión y el aprendizaje se encuentran</h1>
                    <span class="fs-1 text-light">Un espacio interactivo para toda la familia</span>
                    <span class="fs-5 text-light name-place p-5">La Rodadora Espacio Interactivo</span>
                </div>
                <img src="../assets/La rodadora 1.jpg" alt="">
              </li>

          </ul>
    </div>
  </section>
