<link rel="stylesheet" href="../components/Navbar.css">
<nav class="p-3 d-flex flex-row justify-content-between align-items-center">
            <a href="../index.html" class="text-decoration-none navbar-brand">
                <img class="logo" src="../assets/logo.png" alt="">
            </a>
        <div class="d-flex flex-row g-3 align-items-center">
            <div class="dropdown">
                <a class="btn fs-5 dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Destinos Turisticos
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Dunas de Samalayuca</a></li>
                    <li><a class="dropdown-item" href="#">Monumento a la Mexicanidad</a></li>
                    <li><a class="dropdown-item" href="#">Museo de la revolucion en la frontera</a></li>
                    <li><a class="dropdown-item" href="#">La rodadora</a></li>
                  </ul>
                <a href="#" class="text-light fs-5 btn">Nosotros</a>
                <a href="#" class="text-light fs-5 btn">Contactanos</a>
                <a href="#" class="text-light fs-5 btn">Retroalimentación</a>
              </div>
        </div>
</nav>